<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MinePromptApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinePrompt"
        tools:targetApi="31">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MinePrompt.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:label="@string/app_name_kor"
            android:theme="@style/Theme.MinePrompt.NoActionBar">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name_kor" />
        <activity
            android:name=".ui.auth.CategorySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:label="검색"
            android:theme="@style/Theme.MinePrompt"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.search.SearchResultActivity"
            android:exported="false"
            android:label="검색 결과"
            android:theme="@style/Theme.MinePrompt" />
        <activity
            android:name=".ui.prompt.PromptDetailActivity"
            android:exported="false"
            android:label="프롬프트"
            android:theme="@style/Theme.MinePrompt" />
        <activity
            android:name=".ui.category.CategoryPromptListActivity"
            android:exported="false"
            android:label="카테고리"
            android:theme="@style/Theme.MinePrompt" />
    </application>

</manifest>